@model InetMarket.Models.Product

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">Закрыть</button>
        <h4>Добавить</h4>
    </div>
    <div class="modal-body">
        <h4>Продукт</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="file" name="uploadedFile" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsDiscount" /> @Html.DisplayNameFor(model => model.IsDiscount)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsMane" /> @Html.DisplayNameFor(model => model.IsMane)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category</label><br />
                        @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList)
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Brand</label><br />
                        @Html.DropDownListFor(model => model.BrandId, ViewBag.Brands as SelectList)
                    </div>
                    <div class="form-group">
                        <label class="control-label">Provider</label><br />
                        @Html.DropDownListFor(model => model.ProviderId, ViewBag.Providers as SelectList)
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Добавить" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
