@*@model InetMarket.Models.ProductExtViewModel

@{
    ViewData["Title"] = "EditFilters";
}

<h2>Фильтры</h2>

<h5>@Model.Title</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFilters">
            <div class="form-group">
                <div class="checkbox" style="margin-left:50px;">
                    @{
                        int filterId = 0;
                        for (int i = 0; i < Model.FilterAllowables.Count; i++)
                        {
                            if (filterId != Model.FilterAllowables[i].FilterId)
                            {
                                filterId = Model.FilterAllowables[i].FilterId;
                                <div style="margin-left:-35px;"><b>@Model.FilterAllowables[i].Filter.Title</b></div>
                            }
                            <input type="checkbox" asp-for="@Model.FilterAllowables[i].IsChecked" /> @Model.FilterAllowables[i].Title
                            <input type="hidden" asp-for="@Model.FilterAllowables[i].Id" />
                            <input type="hidden" asp-for="@Model.FilterAllowables[i].Title" />
                            <br />
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">&lt; К списку туров</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@