@model InetMarket.Models.ProductExtViewModel

@{
    ViewData["Title"] = "EditFilters";
}

<h2>EditFilters</h2>
<h5>@Model.Title</h5>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFilters">
            @{
                int filterId = 0;
                for (int i = 0; i < Model.FilterAddititons.Count; i++)
                {
                    if (filterId != Model.FilterAddititons[i].FilterId)
                    {
                        filterId = Model.FilterAddititons[i].FilterId;
                        <div style="margin-left:-35px;"><b>@Model.FilterAddititons[i].Filter.Title</b></div>
                    }
                    <input type="checkbox" asp-for="@Model.FilterAddititons[i].IsChecked" /> @Model.FilterAddititons[i].Title
                    <input type="hidden" asp-for="@Model.FilterAddititons[i].Id" />
                    <input type="hidden" asp-for="@Model.FilterAddititons[i].Title" />
                    <br />
                }
            }
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<a asp-action="Index">Назад</a>