@model InetMarket.Models.FilterAddititonListView

<table class="table">
    <thead>
        @foreach (var item in Model.FilterAddititons)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modellItem => item.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(modellItem => item.FilterId)
                </th>
                <th></th>
            </tr>
            break;
        }
    </thead>
    <tbody>
        @foreach (var item in Model.FilterAddititons) {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Title)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Filter.Title)
                 </td>
                 <td>
                     @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "compItem" }) |
                     @Html.ActionLink("Подробно", "Details", new { id = item.Id }, new { @class = "compItem" }) |
                     @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "compItem" })
                 </td>
             </tr>
         }
    </tbody>
</table>
