@model InetMarket.Models.FilterAddititonListView

@{
    ViewData["Title"] = "Список доп. фильтров";
}

<h2>Список</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Фильтры: </label>
        @Html.DropDownList("filterId", Model.Filters as SelectList,
                    htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <thead>
        @foreach (var item in Model.FilterAddititons)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modellItem => item.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(modellItem => item.FilterId)
                </th>
                <th></th>
            </tr>
            break;
        }
    </thead>
    <tbody>
@foreach (var item in Model.FilterAddititons) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filter.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
