@model IEnumerable<InetMarket.Models.Category>

@{
    ViewData["Title"] = "Список категорий";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<h2>Категории</h2>

<p>
    @Html.ActionLink("Добавить", "Create", new { }, new { @class = "compItem" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "compItem" }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.Id }, new { @class = "compItem" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "compItem" }) |
                <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-categoryId="@item.Id">Продукция</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript" src="~/js/test.js" defer></script>
